*{
    margin:0;
    padding: 0;
    font-family:'Poppins',sans-serif;
}
.container{
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(135deg,#153677,#4e0854);
    padding: 10px;
}
.todo-container{
    max-width: 540px;
    width: 100%;
    margin: 100px auto 250px auto;
    padding: 10px;
    background: white;
    /* display: flex; */
    /* align-items: center;
    justify-content: center; */
    border-radius: 20px;
}
.todo-container img{
    height: 24px;
    margin-right: 5px;
}
.heading-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.input-container{
    background:#D3D3D3;
    padding-left: 20px;
    margin-bottom: 20px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#input-box{
    border: none;
    background: inherit;
    flex: 1;
    outline: none;
}
#input-button{
    background: #FFA500;
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
}