*{
    margin:0;
    padding: 0;
    font-family:'Poppins',sans-serif;
}
.container{
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(135deg,#153677,#4e0854);
    padding: 10px;
}
.todo-container{
    max-width: 540px;
    width: 100%;
    margin: 100px auto 250px auto;
    padding: 10px;
    background: white;
    border-radius: 20px;
}
.todo-container img{
    height: 24px;
    margin-right: 5px;
}
.heading-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.input-container{
    background:#D3D3D3;
    padding-left: 20px;
    margin-bottom: 20px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#input-box{
    border: none;
    background: inherit;
    flex: 1;
    outline: none;
    padding: 5px;
}
#input-button{
    background: #FFA500;
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    cursor: pointer;
}
.list{
    margin-left: 30px;
}
ul li{
    list-style: none;
    margin-bottom: 5px;
    cursor: pointer;
    font-size: 17px;
    user-select: none;
    position: relative;
    padding: 12px 8px 12px 50px;

}
ul li::before{
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-image: url(images/OIP.jpeg);
    
    
    background-size: cover;
    background-position: center;
    
    top: 12px;
    left: 8px;
    
}
ul li span{
    position: absolute;
    padding: 4px;
    border-radius: 30%;
    height: 20px;
    width: 20px;
    color: gray;
    background-size: cover;
    background-position: center;
    transform: translateY(-50%);
    right: 20px; 
    top: 50%;
    background-color: transparent;
    text-align: center;
}
ul li span:hover{
    color: black;
    background-color: #F08080;
}
ul li.checked{
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(images/checked.png);
}
@media (max-width: 600px) {
    body {
        overflow: hidden;
    }
    .todo-container {
        margin: 50px 0px 125px 0px;
        padding: 15px;
        width: 87%;
    }

    #input-box {
        padding: 10px;
    }

    #input-button {
        padding: 8px;
        font-size: 14px;
    }

    ul li {
        font-size: 15px;
        padding: 10px 8px 10px 40px; 
    }

    ul li span {
        height: 18px;
        width: 18px;
    }
}

@media (max-width: 400px) {
    .heading-container h2 {
        font-size: 18px;
    }
    .todo-container{
        margin-left: 10px;
    }
    ul li::before{
        top: 10px;
    }
}